#app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.counters{
  padding: 0 16px;
  margin: 8px;
}
.counters--left{
  margin-right:66px ;
}
.button{
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}