#App__title {
  text-align: center;
}
.App__items {
  display: flex;
  list-style: none;
  justify-content: left;
  align-items: center;
  width: 80%;
  height: 120px;
  margin: 0 auto;
  padding-left: 16px;
  border: 1px solid #e4e8eb;
}

.App__name {
  display: inline;
  margin-right: 8px;
  color: #0f66da;
  font-size: 24px;
  font-weight: bold;
}
.App__visibility {
  display: inline;
  padding: 0 8px;
  border: 1px solid black;
  color: #536b79;
  border-radius: 10px;
}

.App__description {
  padding: 8px 0;
  color: #7b8189;
}
.App__topics {
  display: inline;
  margin-right: 8px;
  padding: 0 8px;
  background-color: #ddf4ff;
  color: #0f66da;
  border-radius: 8px;
}
.App__button {
  width: 100%;
  padding: 32px 0;
  border: none;
  background-color: transparent;
  color: #0f66da;
  font-size: 24px;
  cursor: pointer;
}

/* 顯示->自身>背景>行高>文本>其他 */
