#products {
    display: flex;
    justify-content: center;
  } 
  .product_cards{
    display: grid;
    grid: auto-flow/repeat(3,1fr);
    grid-gap:8px;
    padding: 0px;
  }
  .card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 8px;
    height: 200px;
    max-width: 200px;
    list-style: none;
    border:1px solid black;
    border-radius:8px;
    box-shadow: 2px 4px 0px 0px rgba(0,0,0,0.2);
  }
  .product_items{
    text-align: center;
    margin:0 16px;
  }
  
  .product_name{
    font-size: 24px;
    padding-bottom: 24px;
  }
  .product_price{
    margin-top:auto;
    font-weight: bold;
    text-align: right;
  
  }
  .product_des{
    margin-top: auto;
    padding-bottom: 24px;
  } 